@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
	--overpass: 'Overpass', sans-serif;

	--orange: hsl(25, 97%, 53%);
	--light-grey: hsla(217, 12%, 63%, 0.07);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--overpass);
}

body {
	background-color: var(--very-dark-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	font-size: 1.5rem;
	color: white;
}
p {
	font-size: 0.93rem;
	line-height: 1.5;
	color: var(--medium-grey);
}

main {
	background: radial-gradient(
		400px 400px at top center,
		hsl(213, 22%, 18%),
		hsl(216, 25%, 12%)
	);
	width: 28.3vw;
	min-width: 375px;
	max-width: 400px;
	height: 51vh;
	min-height: 414px;
	max-height: 415px;
	border: solid 2px black;
	border-radius: 20px;
	border: none;
	/* padding: 4% 3%; */
}

#rating-page {
	height: 100%;
	/* display: flex; */
	display: none;
	flex-direction: column;
	justify-content: space-between;
	padding: 28px 32px;
}

#thank-you-page {
	height: 100%;
	display: flex;
	/* display: none; */
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	padding: 45px 32px;
}
#thank-you-img {
	width: 175px;
	height: auto;
	padding-bottom: 7px;
}
#thank-you-title {
	padding-bottom: 10px;
}

#submitted-rating-container {
	line-height: 1;
	background-color: var(--light-grey);
	color: hsla(25, 97%, 53%, 0.7);
	padding: 8px 20px;
	border-radius: 20px;
}

#star {
	min-width: 15px;
	max-width: 15.5px;
	min-height: 15px;
	max-height: 15.5px;
}

#title {
	padding-top: 2%;
}

#rating {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.circle {
	background-color: var(--light-grey);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 47px;
	height: 47px;
	border: solid 2px black;
	border-radius: 50%;
	border: none;
}

.rate:hover {
	background-color: var(--orange);
}
.rate:active {
	background-color: var(--medium-grey);
}

#btn {
	letter-spacing: 2px;
	padding: 15px;
	border-radius: 30px;
	border-style: none;
	background-color: var(--orange);
	color: white;
}
#btn:hover {
	background-color: white;
	color: var(--orange);
	animation: normal;
}

.attribution {
	margin-top: 15px;
	color: white;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
